.box1{
	height: 100px;
	width: 100px; 
	background-color: pink; 
	border: 10px solid lightpink; 
	margin-bottom: 50px;
}

.box2{
	height: 100px;
	width: 100px; 
	background-color: blue;
	border: 10px solid lightblue; 
}
h1{
	text-align: center;
	margin-top: 0;	
}