body{
	font-family: 'Bubbler One', sans-serif;
}
.box1{
	height: auto;
	width: auto; 
	background-color: pink; 
	border: 10px solid lightpink; 
	margin-bottom: 50px;
	padding: 50px;
}

.box2{
	height: auto;
	width: auto; 
	background-color: blue;
	border: 10px solid lightblue; 
	padding: 100px;
	color: white;
}
h1{
	text-align: center;
	margin-top: 0;	
}